body{
    font-family: sans-serif;
}

/* Informações de menu */

.menu {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFB800;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: sans-serif;
    font-weight: bold;

    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(ala.png), url(ala-logo.png);
    background-size: auto, 100px auto, 50px auto;
    background-repeat: no-repeat;
    background-position: 50% 92%, 50% 92%, 90% 2%;
}

.photo-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin: auto;
}

  h3{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: black;
  }

i{
    margin-right: 5px;
}
#sino{
    display: inline-block;
    font-size: 24px;
    color: black;
    margin-top: -5px;
    margin-left: 20px;
    line-height: 0px;
}
#edit{
    background-color: #ffce52;
}

.dropdown-btn, .bot{
    padding: 10px 20px;
    width: 100%;
    background-color: inherit;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
}
.bot2{
    border-left: 4px solid black;
}

.dropdown-btn:hover, .bot:hover{
    background-color: #ffc42f;
}

.menu .dropdown-container {
    display: none;
    padding-left: 20px;
}

.menu .dropdown-container a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    color: black;
    
}

.menu .dropdown-container a:hover {
    background-color: #ffce52;
}

.cascata{
    border: none;
    border-left: 2px solid black;
    margin-left: 8px;
}

/* Ícones */

span{
    position: relative;
    top:4px;
    margin-right: 2px;
}

#simb{
    line-height: 0px;
}

/* Logo e Título */

.content {
    margin-left: 22%;
    padding: 20px;
}

.logo{
    width: 30%;
    height: auto;
    margin-left: 38%;
    display: inline-block;
}

h1{
    display: inline-block;
    font-size: 2.50em;
}
.ala {
    display: block;
    width: 100px; 
    height: auto; 
    margin: auto;
    margin-top: 170px;

}

/* Divs e inputs */

.pai{
    margin-left: 24%;
    position: relative;
    display: flex;
    width: 70%;
    height: 50%;
}

.ret1{
    position: absolute;
    width: 243px;
    height: 58px;
    display: flex;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 2%;
}

.ret0{
    position: absolute;
    width: 243px;
    height: 58px;
    display: flex;
    text-align: center;
    margin-left: 30.5%;
    color: rgba(0, 0, 0, 0.6);
}
.ret0:hover, .ret00:hover, .ret1:hover{
    background: #E6E6E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    transition: background-color 0.4s;
    color: black;
    transition: color 0.4s;
    cursor: pointer;
}

.ret00{
    position: absolute;
    width: 243px;
    height: 58px;
    display: flex;
    text-align: center;
    margin-left: 60.7%;
    color: rgba(0, 0, 0, 0.6);
}

h2{
    position: relative;
    display: inline-block;
    margin-right: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
}

.tit{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    margin: auto;
}

.ret2{
    position: relative;
    display: block;
    background: #E6E6E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    width: 1000px;
    height: 400px;
    padding: 2%;
    top: 50px;
    font-size: 18px;
    overflow-y: auto;
    overflow-x: hidden;
}

input{
    width: calc(25% - 10px);
    padding: 2px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

div.ativo{
    position: absolute;
    width: 266px;
    height: 58px;
    background: #E6E6E6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    text-align: center;
    margin-right: 2%;
    cursor: pointer;
    color: black;
}

.ret0, .ret00, .ret1{
    width: 266px;
}

form{
    width: 100%;
    height: 100%;
    margin-left: 8%;
}
/* Espaçamentos */

.esp2{
    margin: 0.4%;
}
.esp2_5{
    margin: 0.28%;
}
.esp3{
    margin: 0.6%;
}
.esp5{
    margin-right:11%;
}
.esp6{
    margin: 1.8%;
}
.esp7{
    margin:0.5%;
}
.esp9{
    margin-right: 24%;
}
.esp0{
    margin-right: 14%;
}
.esp1, .esp2,.esp2_5, .esp3, .esp5,
.esp6, .esp7, .esp9, .esp0{
    display: inline-block;
    margin-top: 1%;
}
.esp1{
    margin: 3%;
    display: block;
}
.esp4{
    display: block;
    margin: 3%;
}
.esp8{
    margin: 2%;
    display: block;
}

select{
    padding: 0.5%;
    padding-left: -0.2%;
    width: 18%;
    margin-left: 0%;
    border: 1px solid #ccc;
}

/* Personalização específica de inputs */

.busca{
    margin-left: 66%;
}
table{
    background-color: #C6C6C6;
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
td{
    background-color: white;
}
td,th{
    padding: 15px;
}
.desc{
    width: 40px;
    height: auto;
    margin: 0px;
    border: none;
    background-color: gray;
    border-radius: 5px;
}
.material-symbols-outlined{
    color: white;
}
/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Cor do botão da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Cor do botão da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
  /* Sombra da barra de rolagem */
::-webkit-scrollbar {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}