:root {
    /*Todas as Cores a serem usadas*/
    --bs-blue: #00002D;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    /*Cores Principais do Site*/
    --bs-primary: #0046E1;
    --bs-secondary: #00002D;
    --bs-terceary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    /* Variações da cor principal */
    --bs-primary-light-1: #3369E8;  
    --bs-primary-light-2: #668BF0;  
    --bs-primary-light-3: #99ACF7;  
    --bs-primary-light-4: #CCD4FF;  
    --bs-primary-dark-1: #003ABB;   
    --bs-primary-dark-2: #002C94;   
    --bs-primary-dark-3: #001E6E;   
    --bs-primary-dark-4: #001048;  
    /*Cores RGB*/
    --bs-primary-rgb: 0, 0, 45;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-font-color: var(--bs-white);
}

body{
    font-family: sans-serif;
    background-color: var(--bs-body-bg);
}

/* Informações de menu */

.menu {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bs-primary);
    overflow-x: hidden;
    padding-top: 20px;
    font-family: sans-serif;

    
    background-size: 300px auto;;
    background-repeat: no-repeat;
    background-position: -25% 125%;

    scrollbar-color: var(--bs-primary-light-2) var(--bs-primary-dark-2); 
    scrollbar-width: thin;
}

.photo-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
.fotoUsuario{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
h3{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: var(--bs-font-color);
}

h2{
    font-size: 26px;
    color: var(--bs-body-color);
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
}

h1{
    margin-top: 0px;
    margin-bottom: 10px;
}

/* p{
    font-size: 14px;
} */

i{
    margin-right: 5px;
}
#sino{
    font-size: 20px;
    color: var(--bs-font-color);
    margin-left: 20px;
}

/* Botões */

.dropdown-btn, .bot{
    padding: 10px 20px;
    width: 100%;
    background-color: inherit;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    color: var(--bs-font-color);
    font-family: sans-serif;
    border: none;
}
.bot{
    border-left: 4px solid var(--bs-font-color);
}

.dropdown-btn:hover, .bot:hover{
    background-color: var(--bs-primary-light-1);
}

.menu .dropdown-container {
    display: none;
    padding-left: 20px;
}

.menu .dropdown-container a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    color: var(--bs-font-color);
}

.menu .dropdown-container a:hover{
    background-color: var(--bs-primary-light-2);
}

.cascata{
    border: none;
    border-left: 2px solid --bs-font-color;
    margin-left: 8px;
}

#toggleMode:hover{
    cursor: pointer;
}

/* Ícones */

span{
    position: relative;
    top:4px;
    margin-right: 2px;
}

#simb{
    line-height: 0px;
}

/* Logo e Título */

.content {
    margin-left: 24%;
    padding: 20px;
}

.barra{
    background-color: var(--bs-primary);
    color: var(--bs-white);
    width: 90%;
    height: 165px;
    border-radius: 20px;
}

.barra2{
    margin-top: 20px;
    background-color: var(--bs-primary-light-3);
    color: var(--bs-font-color);
    width: 90%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.artigos {
    display: flex;
    justify-content: space-evenly;
}

.artigo {
    background-color: #0046E1;
    color: black;
    width: 190px;
    height: 210px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.busca{
    width: 90%;
    padding: 8px;
    margin: 45px 40px 15px 35px;
    border-radius: 20px;
}

.label1{
    margin-left: 45px;
}

.label1, .label2{
    margin-right: 10px;
}