<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/lan_emissao.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>EPE Cadastro de Produção</title>
</head>
<body>
    <body>

        <div class="menu">
            <i class="fa-solid fa-bell" id="sino"></i>
            <div class="photo-placeholder"></div>
            <h3>User</h3>
            <a href="/home"><button class="bot" style="font-size: 16px;"><i class="fas fa-home"></i>Home</button></a>
            <button class="dropdown-btn bot2" style="font-size: 16px;"><i class="fa-solid fa-pen-to-square"></i>Cadastros</button>
            <div class="dropdown-container">
                <a class="cascata" href="/cad_pessoas_pagina"><span class="material-symbols-outlined" id="simb">
                    person</span>Cadastro de Pessoas</a>
                <a class="cascata" href="/cad_producao_pagina"><span class="material-symbols-outlined" id="simb">
                    inventory_2</span>Cadastro de Produção</a>
            </div>
            <button class="dropdown-btn bot3" style="font-size: 16px;"><i class="fa-solid fa-cubes"></i>Produção</button>
            <div class="dropdown-container">
                <a class="cascata" href="/lan_emissao"><span class="material-symbols-outlined" id="simb">
                    <span class="material-symbols-outlined">
                        mark_email_read</span></span>Emissão de OP</a>
                <a class="cascata" href="/lan_produto"><span class="material-symbols-outlined" id="simb">
                    rocket_launch</span>Lançamento</a>
                <a class="cascata" href="/estoque"><span class="material-symbols-outlined" id="simb">
                            package_2</span>Estoque</a>
                <a class="cascata" href="/baixa_estoque"><span class="material-symbols-outlined" id="simb">
                        disabled_by_default</span>Baixas de Estoque</a>
            </div>
        </div>
        <div class="content">
            <h1>Emissão</h1>
        </div>
        <section class="pai">
            <div class="ret2">
                <form action="" method="post">
                    <div class="item1">
                        <div class="esp1"></div>
                        <label for="numeroOP">N° OP:</label>
                        <input type="number" id="numeroOP">
                        <div class="esp9"></div><div class="esp6"></div><div class="esp2"></div><div class="esp2_5"></div>
                        <label for="un">Unidade Medida:</label>
                        <input type="text" name="un" class="unm0" id="un1OP" disabled>
                    </div>
                    <div class="item2">
                        <label for="tipo">Tipo:</label>
                        <div class="esp2"></div><div class="esp2_5"></div>
                        <select>
                            <option value="Produto">Produto</option>
                            <option value="Subproduto">Subproduto</option>
                        </select>
                        <div class="esp2"></div>
                        <label for="item">Item:</label>
                        <input type="text" id="itemOP" disabled>
                        <div class="esp2_5"></div>
                        <label for="cliente">Cliente:</label>
                        <input type="text" id="clienteOP" disabled>
                        <input type="checkbox" name="somente_Estoque" id="estoqueOP">
                        <label for="estoque">Somente para estoque</label>
                    </div>
                    <div class="item3">
                        
                        <label for="quantidade">Quantidade:</label>
                        <input type="number" id="quantidadeEn">
                        <input type="text" class="unm" id="unEn" disabled>
                        <div class="esp0"></div><div class="esp6"></div><div class="esp2_5"></div>
                        <label for="dataOP">Data de Entrega:</label>
                        <input type="date" id="dataOP" disabled>
                    </div>
            <button class="cad cad2" type="submit"><strong>Salvar e Imprimir</strong></button></a>
        </form>
            </div>
        </section>
        <script src="../static/js/menu.js"></script>
    </body>
</html>