<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INPROLIB - Cadastro de Usuários</title>
    <link rel="stylesheet" href="../static/css/cadcurso.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="menu">
        <i class="fa-solid fa-bell" id="sino"></i>
        <div class="photo-placeholder">
            <img class="fotoUsuario" src="{{ dados_usuario_logado.imagem_perfil }}">
        </div>
        <h3 class="nomeUsuario">{{ dados_usuario_logado.usuario_logado }}</h3>
        <a href="/repositorios">
            <button class="dropdown-btn bot2" style="font-size: 16px;">
                <span class="material-symbols-outlined" id="simb">inventory_2</span>Repositórios
            </button>
        </a>
        <a href="/cadcurso">
            <button class="dropdown-btn bot2" style="font-size: 16px;">
                <span class="material-symbols-outlined" id="simb">post_add</span>Cadastro de Cursos
            </button>
        </a>
        <a href="/cadInterno">
            <button class="dropdown-btn bot2" style="font-size: 16px;">
                <span class="material-symbols-outlined" id="simb">how_to_reg</span>Vinculação de Funções
            </button>
        </a>
        <a href="/publicacao_conteudo">
            <button class="dropdown-btn bot2" style="font-size: 16px;">
                <span class="material-symbols-outlined" id="simb">upload</span>Publicação de Conteúdos
            </button>
        </a>
        <a href="/h">
            <button class="dropdown-btn bot2" style="font-size: 16px;">
                <span class="material-symbols-outlined" id="simb">feedback</span>Relatórios
            </button>
        </a>
        <button class="dropdown-btn bot2" style="font-size: 16px;">
            <span class="material-symbols-outlined" id="simb">settings</span>Opções
        </button>
        <div class="dropdown-container">
            <a class="cascata" href="/">
                <span class="material-symbols-outlined" id="simb">logout</span>Sair
            </a>
            <a class="cascata" href="/">
                <span class="material-symbols-outlined" id="simb">unfold_more</span>Trocar função
            </a>
            <a class="cascata" id="toggleMode">
                <span class="material-symbols-outlined" id="simb">routine</span>Modo Noturno
            </a>
        </div>
    </div>

    <div class="content">
      <form action="/cadastrarCurso" method="POST">  
        <h1>Cadastro de Cursos</h1>

        <div class="topo">
            <h2>Informações do curso</h2>
        </div>
        <table class="table">
            <tr>
              <th><label for="">Nome do curso:</label></td>
              <th><input type="text" name="nomeCurso" placeholder="Digite o nome"></td>
            </tr>
            <tr>
              <th><label for="">Descrição:</label></td>
              <th><input type="text" name="descricaoCurso" class="" placeholder="Digite a descrição">
              </td>
            </tr>
            <tr>
                <th><label for="">Código:</label></td>
                <th><input type="text" name="codigoCurso" placeholder="Digite o código"></td>
            </tr>
          </table>
          <hr>
        <div class="meio">
            <div class="lado1">
            <div class="titulo">
            <h2 class="tit">Vinculação de Coordenador</h2>
            </div>
            <table class="table2">
                <tr>
                  <th><label for="">Coordenador</label></td>
                </tr>
                <tr>
                <td>
                    <select name="coordenadorCurso" class="input-normal">
                        {% for user in users %}
                        <option value="{{ user[0] }}" selected>{{ user[0] }}</option>                                
                        {% endfor %}
                    </select>
                </td>
                </tr>
              </table>
            </div>
            <div class="lado2">
            <div class="titulo">
            <h2 class="tit">Autorização do Curso</h2>
            </div>
            <table class="table2">
                <tr>
                  <th><label for="">Portaria de Autorização</label></td>
                </tr>
                <tr>
                  <td><input type="text" name='credCurso' placeholder="Insira o n° da Portaria"></td>
                </tr>
              </table>
              <div class="botoes">
                <button id="salvar" type="submit" class="btn-success">Salvar</button>
                
            </div>
        </div>
        <div>

        </div>
      </form>
    </div>
      
    </div>
    <script src="../static/js/menu.js"></script>
</body>
</html>
