<form action="/upload_conteudo" method='POST' enctype='multipart/form-data'>
    <label for='publicarConteudo'>Upload Arquivo</label><br>
    <input type="file" name="publicarConteudo" id="publicarConteudo"><br>
    <input type='text' name='nomeAutor' id='nomeAutor' placeholder='Insira aqui seu Nome'>
    <input type='text' name='nomeCursoAutor' id='nomeCursoAutor' placeholder='Insira aqui seu Curso'>
    <br><select name="tipoArquivo" id="tipoArquivo">
        <option value="">Selecione o tipo de Obra</option>
        <option value="Tese">Tese</option>
        <option value="Dissertação">Dissertação</option>
        <option value="Monografia">Monografia</option>
        <option value="TCC">TCC</option>
    </select><br>
    <input type='submit' value='UPLOAD'>
</form>
