<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INPROLIB REPOSITORIO</title>
    <link rel="stylesheet" href="../static/css/repositorios.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="menu">
        <i class="fa-solid fa-bell" id="sino"></i>
            <div class="photo-placeholder"></div>
        <h3>User</h3>
        <a href="/repositorios"><button class="dropdown-btn bot2" style="font-size: 16px;"><span class="material-symbols-outlined" id="simb">
            inventory_2
            </span>Repositórios</button></a>
        <a href="/cadcurso"><button class="dropdown-btn bot2" style="font-size: 16px;"><span class="material-symbols-outlined" id="simb">
            post_add
            </span>Cadastro de Cursos</button></a>
        <a href="/cadInterno"><button class="dropdown-btn bot2" style="font-size: 16px;"><span class="material-symbols-outlined" id="simb">
            how_to_reg
            </span>Cadastro de Usuários</button></a>
        <a href=""><button class="dropdown-btn bot2" style="font-size: 16px;"><span class="material-symbols-outlined" id="simb">
            upload
            </span>Publicação de Conteúdos</button></a>
        <a href="/h"><button class="dropdown-btn bot2" style="font-size: 16px;"><span class="material-symbols-outlined" id="simb">
            feedback
            </span>Relatórios</button></a>
        <button class="dropdown-btn bot2" style="font-size: 16px;"><span class="material-symbols-outlined" id="simb">
            settings</span>Opções</a></button>
        <div class="dropdown-container">
            <a class="cascata" href="/"><span class="material-symbols-outlined" id="simb">
                logout</span>Sair</a>
            <a class="cascata" href="/"><span class="material-symbols-outlined" id="simb">
                unfold_more</span>Trocar função</a>
            <a class="cascata" id="toggleMode"><span class="material-symbols-outlined" id="simb">
                routine</span>Modo Noturno</a>
        </div>
    </div>
<div class="content">
    <h1>Repositórios</h1>
<div class="barra">
    <input type="text" class="busca" placeholder="Busca">
    <label class="label1 label2">Buscar por:</label>
    <input type="checkbox" name="" id="" placeholder="">
    <label class="label2" for="">Curso</label>
    <input type="checkbox" name="" id="">
    <label class="label2" for="">Título</label>
    <input type="checkbox" name="" id="">
    <label class="label2" for="">Autor</label>
    <input type="checkbox" name="" id="">
    <label class="label2" for="">Assunto</label>
</div>
<p>Este Repositório Institucional tem como propósito reunir, armazenar, organizar, recuperar, preservar e disseminar a produção científica e intelectual da comunidade universitária</p>
<div class="barra2">
    <h2>Últimas Publicações</h2>
    <div class="artigos">    
        <div class="artigo">Artigo 1</div>
        <div class="artigo">Artigo 2</div>
        <div class="artigo">Artigo 3</div>
    </div>
</div>
</div>
<script src="../static/js/menu.js"></script>
</body>
</html>